@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(../../html/fonts/varela_round.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body
{
	margin:0;
	font-family: 'Varela Round', 'Roboto', sans-serif;
	background-color: #fbfbfb;
}
form
{
	margin-bottom:0;
}
a, a:hover, a:visited, a:active, a:focus
{
	color:inherit;
	text-decoration:none;
}
a:hover
{
	color:#FF5722;
}
.body1
{
}
.change_pass
{
	padding-top: 20px;
}
.heading
{
	width:100%;
	font-size:18px;
	line-height:32px;
	font-weight:600;
	color: #fff;
	padding: 14px 20px;
	border-left: 2px solid #e4e4e4;
	border-top: 2px solid #e4e4e4;
	border-right: 2px solid #e4e4e4;
	box-shadow:3px 5px 5px #eee;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
.table_head_icon
{
	float:right;
	padding:8px;
	background-color:#fff;
	border-radius:16px;
}
.table_head_icon img
{
	height:16px;
}
.table-responsive
{
	position:relative;
	border-left: 2px solid rgba(200,200,200,0.5);
	border-bottom: 2px solid rgba(200,200,200,0.5);
	border-right: 2px solid rgba(200,200,200,0.5);
	background-color:#fff;
	box-shadow:3px 5px 5px #eee;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	overflow-x:auto;
}
.correct, .unattempted, .wrong
{
	padding-bottom: 30px;
}
.correct .heading
{
	background-color: #5fcf80;
	background: -webkit-repeating-linear-gradient(135deg, #5fcf80, #5fcf80 20px, #4AC162 20px, #4AC162 30px);
    background: repeating-linear-gradient(-45deg, #5fcf80, #5fcf80 20px, #4AC162 20px, #4AC162 30px);
}
.unattempted .heading
{
	background-color: #63b1c6;
	background: -webkit-repeating-linear-gradient(135deg, #63b1c6, #63b1c6 20px, #5da7b9 20px, #5da7b9 30px);
    background: repeating-linear-gradient(-45deg, #63b1c6, #63b1c6 20px, #5da7b9 20px, #5da7b9 30px);
}
.wrong .heading
{
	background-color: #E57373;
	background: -webkit-repeating-linear-gradient(135deg, #E57373, #E57373 20px, #EA6259 20px, #EA6259 30px);
    background: repeating-linear-gradient(-45deg, #E57373, #E57373 20px, #EA6259 20px, #EA6259 30px);
}
.cp_form
{
	background-color:#fff;
	padding:10px;
	padding-top:30px;
}
.form-group
{
	width:100%;
	display:table;
}
.form-group > label
{
	float:left;
	padding-right:10px; 
	line-height:40px;
	vertical-align:middle;
}
.form-control
{
	padding:10px;
}
.cp_form button
{
	float:left;
}
#cp_status
{
	position:absolute;
	width:100%;
	top:5px;
	line-height:20px;
	font-size:14px;
	color: #E57373;
	text-align:center;
}
a
{
	text-decoration:none;
}